body{
	background-image: url("freedom.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	text-align: center;
	margin: auto;
	width: 1000px;
	padding: 100px;
	font-size: 14px; 
}
p.b {
  font-family: Arial, Arial, sans-serif;
}


